<%= simple_form_for @course, :html => { :class => 'form-horizontal course-edit' } do |f| %>
  <fieldset> 
    <%= f.input :name, :required => true, :input_html => {:class => "input-block-level"} %>
    <%= f.input :start_by_schedule,:label => false, :inline_label => 'Start by schedule' %>
  </fieldset> 

  <%= render 'courses/start_dates' %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to 'Cancel', courses_path, :class => 'btn' %>
  </div>
<% end %>