<div class="page-header">
  <h1><%= controller.controller_name.capitalize %></h1>
</div>

<div id="alert-area"></div>

<table class="table table-striped" id="courses-list">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Descriptyion</th>
      <th>Closest start</th>
      <th></th>
    </tr>
  </thead>
  <tbody>

    <% @courses.each do |course| %>
      <tr id="<%= dom_id(course) %>">
        <td><%= link_to course.id, course_path(course) %></td>
        <td><%= course.name %></td>
        <td><%= course.desc %></td>
        <td><%= course.date %></td>
        <td>
          <%= link_to course_track_it_path(course), class: 'btn btn-mini track-it', format: :json, remote: true, method: :post  do %> <i class="icon-eye-open"></i> Trak it</a> <% end%>
        </td>
      </tr>
    <% end %>

  </tbody>
</table>

<%= link_to 'New', new_course_path, :class => 'btn btn-primary' if can?(:create, Course) %>
