<div class="course-show <%= dom_id(@course) %>">
  <div id="alert-area"></div>

  <h3>
    <%= @course.name %>
    <% if @course.publish? %>
      <%= link_to course_track_its_path(@course), class: 'btn btn-mini track-it', format: :json, remote: true, method: :post  do %><%= glyph('eye-open') %> Trak it</a> <% end %>
    <% else %>
      <%= show_publish_status(@course) %> 
    <% end %>
  </h3>

  <%= render 'courses/start_dates' %>

  <dl>

    <% if !@course.link.blank? %>
      <dt>Link:</dt>
      <dd><%= link_to @course.link, @course.link, target: "_blank" %></dd>
    <% end %>


    <% if !@course.desc.blank? %>
      <dt>About:</td>
      <dd><%=raw @course.desc %></dd>
    <% end %>
  </dl>

  <div class="clear"></div>
  <% if can? :manage, @course %>
    <div class="form-actions">
      <%= link_to 'Edit', edit_course_path(@course), :class => 'btn' %>
      <%= link_to 'Destroy', course_path(@course), :method => 'delete', :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-danger' %>

      <% if @course.draft? %>
        <%= link_to 'Publish', course_path(@course, :course => { :publish_status => (can?(:publish,@course) ? "publish" : "pending") }), :class => 'btn', :method => :put %>
      <% end %>

      <% if @course.pending? && current_user.admin? %>
        <%= link_to 'Approve', course_path(@course, :course => { :publish_status => "publish" }), :class => 'btn', :method => :put %>
        <%= link_to 'Not Approve', course_path(@course, :course => { :publish_status => "draft" }), :class => 'btn', :method => :put %>
      <% end %>

    </div>
  <% end %>
</div>