<div id="alert-area"></div>

<h3><%= @course.name %> <%=raw show_publish_status(@course) %></h3>

<%= render 'courses/start_dates' %>

<% if can? :update, @course %>
<div class="form-actions">
  <%= link_to 'Edit', edit_course_path(@course), :class => 'btn' %>
  <%= link_to 'Destroy', course_path(@course), :method => 'delete', :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-danger' %>
</div>
<% end %>