<%- model_class = Course -%>
<!-- <div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div> -->

<div id="alert-area"></div>

<h3><%= @course.name %></h3>

<%= render 'courses/start_dates' %>

<div class="form-actions">
  <%= link_to 'Edit', edit_course_path(@course), :class => 'btn' %>
  <%= link_to 'Destroy', course_path(@course), :method => 'delete', :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-danger' %>
</div>
